h1{
    margin: 50px auto auto 50px;
}
p{
    margin: 5px auto auto 50px;
}

form{
    margin: 30px auto auto 50px;
}
.form-group{
    margin: 10px auto auto 0px;
}

.btn{
    margin-top: 22px;
    margin-left: 50px;
}

.backbutton{
    margin: 30px auto auto 50px;
    background-color: transparent;
    color: black;

}

#inputaddress{
    width: 30px;
}

#result{
    margin: 30px auto auto 50px;
    border: dotted 3px gainsboro;
    padding: 10px;
    width: 400px;
}